* {
    margin: 0px;
}
header{
    background-color: rgb(189, 145, 33);
    background-image: url(https://wallpaperaccess.com/full/386772.jpg);
    background-size: cover;
    justify-content: center;
    display: flex;
    background-position: center center;  
}

nav{
    background-color: rgb(245, 27, 70);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;

}

nav li {
    display: inline;
}

nav a {
    color: #fff;
    margin-right: 30px;
}
.grid{
    display: grid;
    grid-template-columns: 25% 75%;
    background-color: rgb(234, 236, 230);    
}

aside {
    background-color: rgb(34, 34, 184);
    padding: 0px 10px 0px 10px;
}

section {
    background-color: blueviolet;
    margin-left: 0px;
    padding-bottom: 54px;
}
footer{
    background-color:brown;
}

@media (max-width: 100px) {
    header {
        background-color: lightcoral;
    }
}